* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 0;
    text-align: center;
}

.statList{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.item{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid;
   width: 50px;
   height: 50px;
}

.label{
    padding: 0;
}